.topbarcontainer {
    height: 60px;
    background-color: #91C8E4;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 5px;
}

.admincontainer {
    flex-direction: row-reverse;
}

.itemcontainer {
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: gray;    
}